@model FirstMVCApplication.Models.Provider
@{
    ViewBag.Title = "ContactUs";
}

<h2>ContactUs</h2>

<p>This is the BMW Offical website</p>
<br />
@ViewBag.Message


@Model.ProviderId
@Model.ProviderName
@Model.ProviderType